<h1>Marks</h1>


<form method="post" action="/process2">
    No1 : <input type="test" name="text1"/> 
    No2 : <input type="test" name="text2"/> 
    No3 : <input type="test" name="text3"/> 
    No4 : <input type="test" name="text4"/> 
    No5 : <input type="test" name="text5"/> 
    <input type="submit"/>
</form>